# Environment variables
.env
.env.local
.env.production

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
env/
venv/
ENV/
env.bak/
venv.bak/

# Logs
*.log
app/logs/

# IDE
.vscode/
.idea/
*.swp
*.swo
*.bak
*.tmp
*.temp

# OS
.DS_Store
Thumbs.db

# Test/coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Misc
*.pid
*.pid.lock
*.orig
*.rej

# Jupyter
.ipynb_checkpoints/

# MyPy
.mypy_cache/
.dmypy.json

# Profiling
.prof
.profraw

# Cython
cython_debug/

# Sphinx
docs/_build/

# Mac
.AppleDouble
.LSOverride
Icon?

# Windows
Desktop.ini
$RECYCLE.BIN/

# NOT: .env-template dosyası git'e eklenir (şablon olarak) 